## Импорт

In [1]:
#Импорт библиотек
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('income_evaluation.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.shape

(32561, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
#убирает \n,\t
for x in df.columns:
    x_new=x.strip()
    df=df.rename(columns={x:x_new})
    
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

### Убираем лишние колонки

In [6]:
data=df.drop(['fnlwgt','capital-gain','capital-loss','education-num',],axis=1)
data

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [7]:
for column in data[['workclass','education','marital-status','occupation','race', 'sex']]:
    data[column]=data[column].str.strip()

data.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [8]:
#Группирует страны по регионам
data=data.replace([' United-States',' Canada', ' Cuba',' Jamaica',' Dominican-Republic',' El-Salvador',' Guatemala',
                               ' Haiti',' Honduras',' Mexico',' Nicaragua',' Outlying-US(Guam-USVI-etc)',' Puerto-Rico',
                               ' Trinadad&Tobago',' India',' Cambodia',' China',' Hong',' Iran',' Japan',' Laos',' Philippines',
                               ' Taiwan',' Thailand',' Vietnam',' Ecuador',' Columbia',' Peru',' England',' France',' Germany',
                               ' Greece',' Holand-Netherlands',' Hungary',' Ireland',' Italy',' Poland',' Portugal',' Scotland',
                               ' Yugoslavia',' South',' ?'],
                ['North America','North America','North America','North America','North America','North America',
                 'North America','North America','North America','North America','North America','North America',
                 'North America','North America','Asia','Asia','Asia','Asia','Asia','Asia','Asia','Asia','Asia','Asia','Asia',
                 'South America','South America','South America','Europe','Europe','Europe','Europe','Europe','Europe','Europe',
                 'Europe','Europe','Europe','Europe','Europe','Other','Other'])

In [9]:
#Таблица на русском для графиков
data_plots=data.copy()
data_plots=data_plots.rename(columns={'age':'Возраст','workclass':'Работа','education':'Образование',
                                      'marital-status':'Семейное положение','occupation':'Профессия','relationship':'Отношения',
                                      'race':'Раса','sex':'Пол','hours-per-week':'Рабочие часы','native-country':'Регион',
                                      'income':'Доход'})
data_plots.head()

,Возраст,Работа,Образование,Семейное положение,Профессия,Отношения,Раса,Пол,Рабочие часы,Регион,Доход
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,North America,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,North America,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,North America,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,North America,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,North America,<=50K

# Предварительная обработка данных

In [10]:
from sklearn import preprocessing

### Меняем качественные переменные на числа

In [11]:
print('workclass - ',data['workclass'].unique())
wcl_titles=data['workclass'].unique()
print('education - ',data['education'].unique())
educ_titles=data['education'].unique()
print('native-country - ',data['native-country'].unique())
native_titles=data['native-country'].unique()
print('marital-status - ',data['marital-status'].unique())
mst_titles=data['marital-status'].unique()
print('occupation - ',data['occupation'].unique())
occ_titles=data['occupation'].unique()
print('relationship - ',data['relationship'].unique())
rel_titles=data['relationship'].unique()
print('race - ',data['race'].unique())
race_titles=data['race'].unique()
print('hours-per-week - ',data['hours-per-week'].unique())
hpw_titles=data['hours-per-week'].unique()
sex_titles=data['sex'].unique()

workclass -  ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
education -  ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
native-country -  ['North America' 'Asia' 'Other' 'Europe' 'South America']
marital-status -  ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
occupation -  ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
relationship -  [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
race -  ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
hours-per-week -  [40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]

In [12]:
# Работа
lb_workclass = preprocessing.LabelEncoder()
lb_workclass.fit(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', '?',
 'Self-emp-inc', 'Without-pay', 'Never-worked'])
data.iloc[:,1]=lb_workclass.transform(data.iloc[:,1])
wcl_list=['Правительство субъекта','Незарегистрированный предприниматель','Частная компания', 'Федеральное правительство',
          'Местное правительство','Другое','Зарегистрированный предприниматель','Без оплаты','Безработный']
wcl_dict={x:y for x,y in zip(wcl_titles,wcl_list)}

data_plots=data_plots.replace(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', '?', 'Self-emp-inc', 
                               'Without-pay', 'Never-worked'],wcl_list)

In [13]:
# Регион
lb_native = preprocessing.LabelEncoder()
lb_native.fit(['North America', 'Asia', 'Other', 'Europe', 'South America'])
data.iloc[:,9]=lb_native.transform(data.iloc[:,9])
native_list=['Северная Америка','Азия','Другое', 'Европа','Южная Америка']
native_dict={x:y for x,y in zip(native_titles,native_list)}

data_plots=data_plots.replace(['North America', 'Asia', 'Other', 'Europe', 'South America'],native_list)

In [14]:
# Образование
lb_educ = preprocessing.LabelEncoder()
lb_educ.fit(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', 'Assoc-voc', '7th-8th', 
             'Doctorate', 'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th'])
data.iloc[:,2]=lb_educ.transform(data.iloc[:,2])
educ_list=['Бакалавр','Среднее образование','11 классов','Магистр','9 классов','Незаконченное высшее','Другое','СПО',
           '7-8 классов','Докторская','Профессиональная школа','5-6 классов','10 классов','1-4 класс','Дошкольное','12 классов']
educ_dict={x:y for x,y in zip(educ_titles,educ_list)}


data_plots=data_plots.replace(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', 'Assoc-voc', 
                               '7th-8th', 'Doctorate', 'Prof-school', '5th-6th', '10th','1st-4th', 'Preschool', '12th'],
                              educ_list)

In [15]:
# Семейное положение
lb_marital = preprocessing.LabelEncoder()
lb_marital.fit(['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 
                'Widowed'])
data.iloc[:,3]=lb_marital.transform(data.iloc[:,3])
mst_list=['Никогда не был(а) в браке','В браке с гражданским','Разведен(а)','В браке, раздельно от супруга',
          'В браке, раздельно от супруга (по правовой причине)','В браке с военноослужащим','Овдовевший(ая)']
mst_dict={x:y for x,y in zip(mst_titles,mst_list)}

data_plots=data_plots.replace(['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 
                               'Married-AF-spouse', 'Widowed'], mst_list)

In [16]:
# Профессия
lb_occup = preprocessing.LabelEncoder()
lb_occup.fit(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 'Sales', 
              'Craft-repair', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 'Tech-support', '?', 
              'Protective-serv', 'Armed-Forces', 'Priv-house-serv'])
data.iloc[:,4]=lb_occup.transform(data.iloc[:,4])
occ_list=['Администратор/секретарь','Руководитель','Уборщик','Профессиональная специальность','Услуги','Продажи',
          'Ремесло/ремонт','Перевозки','Сельское хозяйство/рыбная ловля','Оператор машины/станка','Техническая поддержка',
          'Другое','Служба защиты','Военные силы','Служба жилья']
occ_dict={x:y for x,y in zip(occ_titles,occ_list)}

data_plots=data_plots.replace(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 
                               'Sales', 'Craft-repair', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 
                               'Tech-support', '?', 'Protective-serv', 'Armed-Forces', 'Priv-house-serv'], occ_list)

In [17]:
# Отношение
lb_rel = preprocessing.LabelEncoder()
lb_rel.fit([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried', ' Other-relative'])
data.iloc[:,5]=lb_rel.transform(data.iloc[:,5])
rel_list=['Без семьи','Муж','Жена','Есть ребенок','Не в браке','Другое']
rel_dict={x:y for x,y in zip(rel_titles,rel_list)}

data_plots=data_plots.replace([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried', ' Other-relative'], rel_list)

In [18]:
# Раса
lb_race = preprocessing.LabelEncoder()
lb_race.fit(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'])
data.iloc[:,6]=lb_race.transform(data.iloc[:,6])
race_list=['Белый(ая)','Черный(ая)','Азиат/тихоокеанского происхождения','Американские индейцы/эскимосы','Другое']
race_dict={x:y for x,y in zip(rel_titles,race_list)}

data_plots=data_plots.replace(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'], race_list)

In [19]:
# Пол
lb_sex = preprocessing.LabelEncoder()
lb_sex.fit(['Male','Female'])
data.iloc[:,7]=lb_sex.transform(data.iloc[:,7])
sex_list=['Мужской','Женский']
sex_dict={x:y for x,y in zip(sex_titles,sex_list)}

data_plots=data_plots.replace(['Male','Female'], sex_list)

In [20]:
data.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,39,7,9,4,1,1,4,1,40,2,<=50K
1,50,6,9,2,4,0,4,1,13,2,<=50K
2,38,4,11,0,6,1,4,1,40,2,<=50K
3,53,4,1,2,6,0,2,1,40,2,<=50K
4,28,4,9,2,10,5,2,0,40,2,<=50K

In [21]:
data_plots.head()

,Возраст,Работа,Образование,Семейное положение,Профессия,Отношения,Раса,Пол,Рабочие часы,Регион,Доход
0,39,Правительство субъекта,Бакалавр,Никогда не был(а) в браке,Администратор/секретарь,Без семьи,Белый(ая),Мужской,40,Северная Америка,<=50K
1,50,Незарегистрированный предприниматель,Бакалавр,В браке с гражданским,Руководитель,Муж,Белый(ая),Мужской,13,Северная Америка,<=50K
2,38,Частная компания,Среднее образование,Разведен(а),Уборщик,Без семьи,Белый(ая),Мужской,40,Северная Америка,<=50K
3,53,Частная компания,11 классов,В браке с гражданским,Уборщик,Муж,Черный(ая),Мужской,40,Северная Америка,<=50K
4,28,Частная компания,Бакалавр,В браке с гражданским,Профессиональная специальность,Жена,Черный(ая),Женский,40,Северная Америка,<=50K

In [22]:
X=data.iloc[:,:-1]
y=data[['income']]

# Тренировочные/тестовые данные

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.05,random_state=4)

In [24]:
print("train set: ", X_train.shape, y_train.shape)
print("test set: ", X_test.shape, y_test.shape)

train set:  (30932, 10) (30932, 1)
test set:  (1629, 10) (1629, 1)

# Модель KNN

In [25]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [26]:

for i in range(1,11):
    neigh=KNeighborsClassifier(n_neighbors=i).fit(X_train,np.ravel(y_train))
    #n_neighbors=i - количество используемых соседей (от 1 до 11)
    #method fit - накладывает классифаер на датасет
    #X_train - данные
    #np.ravel(y_train) - значения которые должны получиться
    #ravel - распрямляет массив
    y_pred=neigh.predict(X_test) #предсказывает класс
    acc=metrics.accuracy_score(y_test,y_pred) 
    print(i,acc)

1 0.7710251688152241
2 0.7900552486187845
3 0.7845303867403315
4 0.8023327194597912
5 0.7943523634131369
6 0.8096992019643954
7 0.8041743400859422
8 0.8066298342541437
9 0.7961939840392879
10 0.805402087170043

# GUI

In [32]:
# Импорт библиотек
import tkinter as tk
from tkinter import *
from tkinter import ttk
from tkinter import messagebox
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
from PIL import Image,ImageTk

income_values = ['<=50K','>50K']

##################
# Основное окно
##################
root=Tk()
root.geometry("700x750")
root.title('Анализ данных')
root.iconbitmap('small_icon.ico')
root.configure(background="white")

# Лого
logo = Image.open('icon.png')
new_logo = Image.new("RGBA", logo.size, "WHITE") 
new_logo.paste(logo, (0, 0), logo)
new_logo = ImageTk.PhotoImage(new_logo)
logo_label = tk.Label(image = new_logo,bg="white")
logo_label.image = new_logo
logo_label.place(x=150,y=-40)

# Подписи
Label(root,text = "Возраст", font=('Candara',13,'bold'), bg="white").place(x=180,y=135)
Label(root,text = "Категория работы", font=('Candara',13,'bold'), bg="white").place(x=100,y=180)
Label(root,text = "Образование", font=('Candara',13,'bold'), bg="white").place(x=135,y=225)
Label(root,text = "Семейное положение", font=('Candara',13,'bold'), bg="white").place(x=80,y=270)
Label(root,text = "Профессия", font=('Candara',13,'bold'), bg="white").place(x=150,y=315)
Label(root,text = "Отношение к семье", font=('Candara',13,'bold'), bg="white").place(x=90,y=360)
Label(root,text = "Раса", font=('Candara',13,'bold'), bg="white").place(x=200,y=405)
Label(root,text = "Пол", font=('Candara',13,'bold'), bg="white").place(x=200,y=450)
Label(root,text = "Родной регион", font=('Candara',13,'bold'), bg="white").place(x=120,y=495)
Label(root,text = "Рабочие часы в неделю", font=('Candara',13,'bold'), bg="white").place(x=50,y=540)
Label(root,text = "Результат: ", font=('Candara',14,'bold'), bg="white",relief='solid',width=10).place(x=50,y=670)

# Переменные
age=StringVar()
wcl=StringVar()
wcl.set(wcl_list[0])
educ=StringVar()
educ.set(educ_list[0])
mst=StringVar()
mst.set(mst_list[0])
occ=StringVar()
occ.set(occ_list[0])
rel=StringVar()
rel.set(rel_list[0])
race=StringVar()
race.set(race_list[0])
sex=StringVar()
sex.set(sex_list[0])
native=StringVar()
native.set(native_list[0])
hpw=StringVar()

def validate(P):
    if len(P)==0:
        return True
    elif len(P) >= 0 and len(P) <= 2 and P.isdigit():
        return True
    else:
        return False

vcmd = (root.register(validate), '%P')

# Виджеты
Entry(root,text=age,width=10,validate="key", validatecommand=vcmd).place(x=250,y=135)
om_wcl = OptionMenu(root,wcl,*wcl_list)
om_wcl.config(bg = "#cfebf0",font=('Candara',12))
om_wcl.place(x=250,y=180)
om_educ = OptionMenu(root,educ,*educ_list)
om_educ.config(bg = "#cfebf0",font=('Candara',12))
om_educ.place(x=250,y=225)
om_mst = OptionMenu(root,mst,*mst_list)
om_mst.config(bg = "#cfebf0",font=('Candara',12))
om_mst.place(x=250,y=270)
om_occ = OptionMenu(root,occ,*occ_list)
om_occ.config(bg = "#cfebf0",font=('Candara',12))
om_occ.place(x=250,y=315)
om_rel = OptionMenu(root,rel,*rel_list)
om_rel.config(bg = "#cfebf0",font=('Candara',12))
om_rel.place(x=250,y=360)
om_race = OptionMenu(root,race,*race_list)
om_race.config(bg = "#cfebf0",font=('Candara',12))
om_race.place(x=250,y=405)
om_sex = OptionMenu(root,sex,*sex_list)
om_sex.config(bg = "#cfebf0",font=('Candara',12))
om_sex.place(x=250,y=450)
om_nat = OptionMenu(root,native,*native_list)
om_nat.config(bg = "#cfebf0",font=('Candara',12))
om_nat.place(x=250,y=495)
Entry(root,text=hpw,width=10,validate="key", validatecommand=vcmd).place(x=250,y=540)


##################
# Функции
##################

# Проверяет значение в энтри
def check_number(var):
    if var=='':
        messagebox.showerror("Ошибка", "Необходимо заполнить все поля")
        return False
    else:
        return True
    
    
# Создает и вставляет пай чарт
def make_plot_pie(ax,bar,column_name,input_get,title):
    colors = ['#65c72e','#3bb8d2']
    bar.get_tk_widget().pack(side = tk.TOP,fill = tk.BOTH)
    new_data=data_plots[data_plots[column_name]==input_get]
    new_data=pd.Series(new_data['Доход']).value_counts()
    print(new_data.empty)
    ax.pie(new_data, labels = income_values, explode=[0,0],autopct='%1.1f%%', radius=1, shadow=True,colors = colors)
    ax.set_title(title,fontsize=9)

def have_data(column_name,input_get):
    new_data=data_plots[data_plots[column_name]==input_get]
    if pd.Series(new_data['Доход']).value_counts().empty:
        return False
    else:
        return True

    
##################
# Окно с графиками
##################    
# def info():
#     if check_number(age.get()) and check_number(hpw.get()):
#         n=Tk()
#         n.title('Анализ данных')
#         n.iconbitmap('small_icon.ico')
#         n.geometry=('1000x1000')
#         n.configure(background='white')
#         n.resizable(0,0)

#         # Крафт скроллбара
#         main_frame = Frame(n)
#         main_frame.pack(fill=BOTH,expand=1)

#         my_canvas = Canvas(main_frame,height=600)
#         my_canvas.pack(side=LEFT,fill=BOTH,expand=1, padx = 150)

#         my_scrollbar = ttk.Scrollbar(main_frame, orient=VERTICAL,command=my_canvas.yview)
#         my_scrollbar.pack(side=RIGHT,fill=Y)

#         # Прокрутка скроллбара мышкой
#         def _on_mouse_wheel(event):
#             my_canvas.yview_scroll(-1 * int((event.delta / 120)), "units")

#         my_canvas.configure(yscrollcommand=my_scrollbar.set)
#         my_canvas.bind('<Configure>',lambda e:my_canvas.configure(scrollregion=my_canvas.bbox("all")))
#         my_canvas.bind_all("<MouseWheel>", _on_mouse_wheel)

#         second_frame=Frame(my_canvas, width=700,height=600)
#         second_frame.configure(background='white')

#         my_canvas.create_window((0,0),window=second_frame,anchor='nw')
#         my_canvas.configure(background='white')
#         main_frame.configure(background='white')

#         # Виджеты всякие
#         inc_share_label = tk.Label(second_frame,text = 'Распределение дохода у людей:',font=('Candara',18,'bold'),bg='white')
#         inc_share_label.pack()

#         Button(main_frame,text='Выход',width=10,height = 1,command=n.destroy,font=('Candara',13,'bold'),bg='#cf6c70',
#                fg='black').place(x=560,y=0)

#         empty_label = tk.Label(second_frame,text = '\n',bg='white').pack()

#         ##################
#         # Графики
#         ################## 
#         if have_data('Возраст',int(age.get())):
#             figure1 = plt.Figure(figsize = (4,3), dpi = 100)
#             ax1 = figure1.add_subplot(111)
#             bar1 = FigureCanvasTkAgg(figure1,second_frame)
#             title_string = 'C возрастом ' + age.get() +' лет:'
#             make_plot_pie(ax1,bar1,'Возраст',int(age.get()),title_string)

#         figure2 = plt.Figure(figsize = (4,3), dpi = 100)
#         ax2 = figure2.add_subplot(111)
#         bar2 = FigureCanvasTkAgg(figure2,second_frame)
#         title_string = 'В категории:' + wcl.get()
#         make_plot_pie(ax2,bar2,'Работа',wcl.get(),title_string)

#         figure3 = plt.Figure(figsize = (4,3), dpi = 100)
#         ax3 = figure3.add_subplot(111)
#         bar3 = FigureCanvasTkAgg(figure3,second_frame)
#         title_string = 'С образованием: ' + educ.get()
#         make_plot_pie(ax3,bar3,'Образование',educ.get(),title_string) 

#         figure4= plt.Figure(figsize = (4,3), dpi = 100)
#         ax4 = figure4.add_subplot(111)
#         bar4 = FigureCanvasTkAgg(figure4,second_frame)
#         title_string = 'С семейным положением:\n' + mst.get()
#         make_plot_pie(ax4,bar4,'Семейное положение',mst.get(),title_string) 
        
#         figure5= plt.Figure(figsize = (4,3), dpi = 100)
#         ax5 = figure5.add_subplot(111)
#         bar5 = FigureCanvasTkAgg(figure5,second_frame)
#         title_string = 'В професии: ' + occ.get()
#         make_plot_pie(ax5,bar5,'Профессия',occ.get(),title_string) 
        
#         figure6 = plt.Figure(figsize = (4,3), dpi = 100)
#         ax6 = figure6.add_subplot(111)
#         bar6 = FigureCanvasTkAgg(figure6,second_frame)
#         title_string = 'Относящихся к семье как: ' + rel.get()
#         make_plot_pie(ax6,bar6,'Отношения',rel.get(),title_string) 
        
#         figure7 = plt.Figure(figsize = (4,3), dpi = 100)
#         ax7 = figure7.add_subplot(111)
#         bar7 = FigureCanvasTkAgg(figure7,second_frame)
#         title_string = 'С расой:\n' + race.get()
#         make_plot_pie(ax7,bar7,'Раса',race.get(),title_string) 
        
#         figure8 = plt.Figure(figsize = (4,3), dpi = 100)
#         ax8 = figure8.add_subplot(111)
#         bar8 = FigureCanvasTkAgg(figure8,second_frame)
#         title_string = 'С полом: ' + sex.get()
#         make_plot_pie(ax8,bar8,'Пол',sex.get(),title_string) 
        
#         figure9 = plt.Figure(figsize = (4,3), dpi = 100)
#         ax9 = figure9.add_subplot(111)
#         bar9 = FigureCanvasTkAgg(figure9,second_frame)
#         title_string = 'Из региона: ' + native.get()
#         make_plot_pie(ax9,bar9,'Регион',native.get(),title_string) 
        
#         if have_data('Рабочие часы',int(hpw.get())):
#             figure10 = plt.Figure(figsize = (4,3), dpi = 100)
#             ax10 = figure10.add_subplot(111)
#             bar10 = FigureCanvasTkAgg(figure10,second_frame)
#             title_string = 'Работающих ' + hpw.get() +' часов в неделю:'
#             make_plot_pie(ax10,bar10,'Рабочие часы',int(hpw.get()),title_string) 

#         n.mainloop()

def info():
    if check_number(age.get()) and check_number(hpw.get()):
        n=Tk()
        n.title('Анализ данных')
        n.iconbitmap('small_icon.ico')
        n.geometry=('1000x1000')
        n.configure(background='white')
        n.resizable(0,0)

        # Крафт скроллбара
        main_frame = Frame(n)
        main_frame.pack(fill=BOTH,expand=1)

        my_canvas = Canvas(main_frame,height=600)
        my_canvas.pack(side=LEFT,fill=BOTH,expand=1, padx = 150)

        my_scrollbar = ttk.Scrollbar(main_frame, orient=VERTICAL,command=my_canvas.yview)
        my_scrollbar.pack(side=RIGHT,fill=Y)

        # Прокрутка скроллбара мышкой
        def _on_mouse_wheel(event):
            my_canvas.yview_scroll(-1 * int((event.delta / 120)), "units")

        my_canvas.configure(yscrollcommand=my_scrollbar.set)
        my_canvas.bind('<Configure>',lambda e:my_canvas.configure(scrollregion=my_canvas.bbox("all")))
        my_canvas.bind_all("<MouseWheel>", _on_mouse_wheel)

        second_frame=Frame(my_canvas, width=700,height=600)
        second_frame.configure(background='white')

        my_canvas.create_window((0,0),window=second_frame,anchor='nw')
        my_canvas.configure(background='white')
        main_frame.configure(background='white')

        # Виджеты всякие
        inc_share_label = tk.Label(second_frame,text = 'Распределение дохода у людей:',font=('Candara',18,'bold'),bg='white')
        inc_share_label.pack()

        Button(main_frame,text='Выход',width=10,height = 1,command=n.destroy,font=('Candara',13,'bold'),bg='#cf6c70',
               fg='black').place(x=560,y=0)

        empty_label = tk.Label(second_frame,text = '\n',bg='white').pack()

        ##################
        # Графики
        ################## 
        if have_data('Возраст',int(age.get())):
            figure1 = plt.Figure(figsize = (4,3), dpi = 100)
            ax1 = figure1.add_subplot(111)
            bar1 = FigureCanvasTkAgg(figure1,second_frame)
            title_string = 'C возрастом ' + age.get() +' лет:'
            make_plot_pie(ax1,bar1,'Возраст',int(age.get()),title_string)

        figure2 = plt.Figure(figsize = (4,3), dpi = 100)
        ax2 = figure2.add_subplot(111)
        bar2 = FigureCanvasTkAgg(figure2,second_frame)
        title_string = 'В категории:' + wcl.get()
        make_plot_pie(ax2,bar2,'Работа',wcl.get(),title_string)

        figure3 = plt.Figure(figsize = (4,3), dpi = 100)
        ax3 = figure3.add_subplot(111)
        bar3 = FigureCanvasTkAgg(figure3,second_frame)
        title_string = 'С образованием: ' + educ.get()
        make_plot_pie(ax3,bar3,'Образование',educ.get(),title_string) 

        figure4= plt.Figure(figsize = (4,3), dpi = 100)
        ax4 = figure4.add_subplot(111)
        bar4 = FigureCanvasTkAgg(figure4,second_frame)
        title_string = 'С семейным положением:\n' + mst.get()
        make_plot_pie(ax4,bar4,'Семейное положение',mst.get(),title_string) 
        
        figure5= plt.Figure(figsize = (4,3), dpi = 100)
        ax5 = figure5.add_subplot(111)
        bar5 = FigureCanvasTkAgg(figure5,second_frame)
        title_string = 'В професии: ' + occ.get()
        make_plot_pie(ax5,bar5,'Профессия',occ.get(),title_string) 
        
        figure6 = plt.Figure(figsize = (4,3), dpi = 100)
        ax6 = figure6.add_subplot(111)
        bar6 = FigureCanvasTkAgg(figure6,second_frame)
        title_string = 'Относящихся к семье как: ' + rel.get()
        make_plot_pie(ax6,bar6,'Отношения',rel.get(),title_string) 
        
        figure7 = plt.Figure(figsize = (4,3), dpi = 100)
        ax7 = figure7.add_subplot(111)
        bar7 = FigureCanvasTkAgg(figure7,second_frame)
        title_string = 'С расой:\n' + race.get()
        make_plot_pie(ax7,bar7,'Раса',race.get(),title_string) 
        
        figure8 = plt.Figure(figsize = (4,3), dpi = 100)
        ax8 = figure8.add_subplot(111)
        bar8 = FigureCanvasTkAgg(figure8,second_frame)
        title_string = 'С полом: ' + sex.get()
        make_plot_pie(ax8,bar8,'Пол',sex.get(),title_string) 
        
        figure9 = plt.Figure(figsize = (4,3), dpi = 100)
        ax9 = figure9.add_subplot(111)
        bar9 = FigureCanvasTkAgg(figure9,second_frame)
        title_string = 'Из региона: ' + native.get()
        make_plot_pie(ax9,bar9,'Регион',native.get(),title_string) 
        
        if have_data('Рабочие часы',int(hpw.get())):
            figure10 = plt.Figure(figsize = (4,3), dpi = 100)
            ax10 = figure10.add_subplot(111)
            bar10 = FigureCanvasTkAgg(figure10,second_frame)
            title_string = 'Работающих ' + hpw.get() +' часов в неделю:'
            make_plot_pie(ax10,bar10,'Рабочие часы',int(hpw.get()),title_string) 

        n.mainloop()

# Индекс элемента
def get_index(arr,val):
    return arr.index(val.get())

##################
# КНН
##################
def model():
    if check_number(age.get()) and check_number(hpw.get()):
        # Ввод данных
        wcl_value=get_index(wcl_list,wcl)
        educ_value=get_index(educ_list,educ)
        mst_value=get_index(mst_list,mst)
        occ_value=get_index(occ_list,occ)
        rel_value=get_index(rel_list,rel)
        race_value=get_index(race_list,race)
        sex_value=get_index(sex_list,sex)
        native_value=get_index(native_list,native)

        # Классифаер
        neigh=KNeighborsClassifier(n_neighbors=7).fit(X_train,np.ravel(y_train))
        x_test=[[int(age.get()),wcl_value,educ_value,mst_value,occ_value,rel_value,race_value,sex_value,int(hpw.get()),
                 native_value]]
        y_pred=neigh.predict(x_test)

        # Вывод рез-та
        if y_pred[0]==' <=50K':
            result_text= 'Меньше 50 тысяч в год'
        else:
            result_text = 'Больше 50 тысяч в год'

        Label(root,text=result_text,font=('Candara',14,'bold'), bg="white", width=20).place(x=160,y=670)

# Кнопочки
Button(root,text='Результат',width=15,height = 2,command=model,font=('Candara',13,'bold'),bg='#9fd7e0',fg='black').place(x=50,y=585)

Button(root,text='Узнать больше',width=15,height = 2, command=info,font=('Candara',13,'bold'),bg='#9fd7e0',fg='black').place(x=250,y=585)

Button(root,text='Выход',width=10,height = 1,command=root.destroy,font=('Candara',13,'bold'),bg='#cf6c70',fg='black').place(x=550,y=665)

root.resizable(0,0)
root.mainloop()

False
False
False
False
False
False
False
False
False

In [34]:
print('age - ',data['age'].unique())

age -  [39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]